*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.main-content{
    margin: 0;
    padding: 8px;
}
.section1{
    background-color: #1f2937;
    height: auto;
    padding-bottom: 80px;
    overflow: hidden;
}
.section1 .header{
    margin: 10px;
    color: white;
    
}
.section1 .header h1{
    padding: 20px 0 20px 100px;
    display:inline-block;
    
}
.header > h1:hover{
    transform:rotate(360deg);
    cursor: pointer;
}
 .right-float{
    display: block;
    float: right;
    padding: 30px 100px;
    
 }
.right-float > a{
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding-left: 20px;
}
.right-float > a:hover{
    text-decoration: underline;
    color: blue;
    
}
.container-content{
    width: 70%;
    margin: 0 auto;
    padding: 40px;
}
.left-content{
    float: left;
    width: 35%;
    margin: 0;
}
.left-content > h2, p{
    color: white;
}
.left-content >button{
    background-color: rgb(0, 183, 255);
    color: white;
    padding: 5px;
    border-radius: 7px;
    border: none;
    margin-top: 5px;
    width: 70px;
}
.right-content{
    float: right;
    margin: 0;
    width: 35%;
}
.section2{
    clear: both;
}
.section2{
    width: 70%;
    overflow: hidden;
    margin: 0 auto;
}
.section2 h2{
    text-align: center;
    padding-top: 20px ;
    padding-bottom: 20px;
}
.mypic{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    padding-bottom: 20px;

}
.mypic > img:hover{
     border: 1px solid black;
     box-shadow: 0 8px 8px 8px rgb(88, 92, 94);
     border-radius: 10px;
}
.section3{
    background-color: #E5E7EB;
    padding: 20px;
    overflow: hidden;
}
.section3-content{
    width: 50%;
    margin: 0 auto;
    padding: 50px;
    
}
.section3-content h3{
    display: flex;
    justify-content: flex-end;
    color: black;
}
.section4{
    overflow: hidden;
}
.section4-content{
    background-color: #3882f6;
    width: 50%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 5px;
    
}
.fist{
    float: left;
    padding: 20px 20px 20px 60px;
}
.fist > p, h3{
    color: white;
}
.second{
    float:right;
    padding: 30px 60px 0 0;
}
.second > button{
    width: 80px;
    padding: 4px;
    background: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
}
